<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-logo">
    <img src="https://github.com/jbeustice/mySite/blob/gh-pages/bradley-4.jpg" />
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="{{ site.baseurl }}">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/running">Running</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/resume">Resume</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/jbradleyeustice_CV">My_resume</a>
    
    <a class="sidebar-nav-item" href="{{ site.curriculum_vitae }}" target="_blank">myCV</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}.  All rights reserved.
    </p>
  </div>
</div>
