<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a>
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>
    
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/econ476">Teaching</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/research">Research</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/job_market">Job Market Paper</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/tiny_cv">Curriculum Vitae</a>    
    </nav>
    
    <p>
      &copy; {{ site.time | date: '%Y' }}.  All rights reserved.
    </p>
  </div>
</div>
